body{
    color: beige;
    font-family: Montserrat;
    background-color: #00818a;
    background-image: url("https://i.pinimg.com/originals/ea/a4/61/eaa461cf868a843e94fcc6bff781fe0f.gif");
    background-size: cover;
}